body {
	width: 100%;
	height: 100%;
	font-family: 'Questrial', sans-serif;
	background: #fffbe9;
	color: #555555;
}

.container {
	width: 100%;
}

.header {
	background: #ffdd00;;
}

.about {
	background: #fff47c;
}

.skills {
	background: #fff9ba;
}

.experience {
	background: #fffed9;
}

.contact {
	background: #fffbe9;
}